option_settings:
  aws:autoscaling:asg:
    MinSize: '2'
    MaxSize: '6'
  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Unit: Percent
    UpperThreshold: '70'
    LowerThreshold: '30'
    UpperBreachScaleIncrement: '2'
    LowerBreachScaleIncrement: '-1'
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
